@model LojaVirtual.Models.Product

<h2>Produto</h2>
<p>Id:</p>@Model.Id <br />
<p>Name:</p>@Model.Name <br />
<p>Description:</p>@Model.Description <br />
<p>Price:</p>@Model.Price.ToString("C") <br />
